*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Podkova', serif;
    align-items: center;
}

:root {
    --brand-color: #FACC15;
    --dark-color: #18181B;
    --mid-color: #E4E4E7;
    --light-color: #F8FAFC;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

.cabecalho {
    background-color: #FACC15;
    margin: 10px auto;
    padding: 20px;
    font-family: 'Podkova';
    align-items: center;
    justify-content: center;
}

.container nav {
    padding: 1px 50px;
}

.container a1 {
    font-size: 60px;
    font-weight: 600;
}

.container a {
    text-align: right;
}

.entenda {
    background-image: url(../Images/pexels-polina-tankilevitch-6927360.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    box-shadow: 1px 10px 20px 1px #E4E4E7;
    width: 100%;
    height: 40vh;
    border-radius: 5px;
    display: flex;
    padding: 50px;
}

.entenda h1 {   
    text-transform: uppercase;
}

.entenda .border {
    background-color:#F8FAFC;
}

.perfis {
    align-items: center;
    text-align: center;
    margin: 10px auto;
    font-size: 30px;
}

.perfis h1 {
    text-align: center;
    text-transform: uppercase;
}

.perfis img {
    max-width: 500px;
    max-height: 200px;
}

.controle {
    align-items: center;
    text-align: left;
    margin: 10px auto;
    font-size: 30px;
}

.controle h5 {
    font-weight: 100;
}

.controle img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 1px 10px 20px 1px #E4E4E7;
}

.footer {
    margin: auto;
    font-size: 40px;
    font-weight: 600;
    background-color: #18181B;
    color:#FACC15;
}

.entenda .btn {
    box-shadow: 1px 10px 20px 10px #E4E4E7;
}

.controle .btn {
    box-shadow: 1px 10px 20px 10px #E4E4E7;
}

.icon {
    border: 3px solid #18181B;
    color: #FACC15;
}
.icon:hover   {
    border-color: #FACC15;
}



@media(max-width:1200px) {
    .entenda {
        justify-content: center;
        align-items: center;        
    }

    .cabecalho .btn {
        margin-bottom: 10px;
    }

    .container nav {
        justify-content: center;
    } 

    .container button {
        margin-bottom: 10px;
    }

    .containter navbar-nav {
        margin-right: 50px;
        margin-bottom: 50px;
    }


}